@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@font-face {
    font-family: Norse-Bold;
    src: url(assets/fonts/Norse-Bold.otf);
}

:root {
    --logo-font: 'Norse-Bold', serif;
    --main-font: 'Inter', sans-serif;

    --color1: #000000;
    --color2: #ffffff;
    --color3: #596D48;

    --hover-color: #99BF4B;

    --input-field-bg: #ffffff;
    --right-content-bg: #F9FAFB;

    --input-bg: #FFFEFE;
    --input-stroke: #E5E7EB;
    --input-error: #B91C1C;
    --input-focus: #1D4ED8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: var(--main-font);
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
}

/* LEFT SIDE CONTENT */
.left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 40vw;
    padding: 10px 0;
    background-image: url(assets/images/halie-west-25xggax4bSA-unsplash.jpg);
    background-position: center;
    background-size: cover;
}

.left-content > p {
    color: var(--color2);
    font-size: .813rem;
    font-weight: 400;
}

.left-content a:link {
    color: var(--color2);
}

.left-content a:visited {
    color: var(--color2);
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 15px;
    margin-top: 21vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.logo > img {
    height: 120px;
}

.logo > h1 {
    color: var(--color2);
    font-family: var(--logo-font);
    font-size: 6rem;
}

/* RIGHT SIDE CONTENT */
.right-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 60vw;
    height: auto;
    background-color: var(--right-content-bg);
}

.left-padding {
    padding-left: 47px;
}

.right-text, .input-field > p {
    font-size: 1.375rem;
    font-weight: 600;
    padding-right: 47px;
}

.right-text > p {
    max-width: 695px;
    padding-top: 39px;
}

.input-field {
    width: 60vw;
    height: auto;
    margin: 63px 0 35px;
    padding-top: 19px;
    padding-bottom: 19px;
    background-color: var(--input-field-bg);

    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.15);
}

fieldset {
    max-width: 695px;
    border: 0;
    padding: 0;
}

label {
    display: inline-flex;
    flex-direction: column;
    margin: 1.4rem 3.8rem 0 0;

    font-size: .75rem;
    font-weight: 600;
    text-transform:uppercase;
    letter-spacing: 0.11em;
}

.error-msg {
    width: auto;
    height: 17px;

    color: var(--input-error);
    font-size: .75rem;
    font-weight: 500;
    text-transform: none;
    letter-spacing: 0;
}

input {
    width: 262px;
    min-height: 2.2em;
    border: 1px solid var(--input-stroke);
    border-radius: 5px;
    padding: 0 10px;
    background-color: var(--input-bg);

    font-size: 1rem;
    font-weight: 400;
}

input:focus {
    outline: none;
    border: 2px solid var(--color3);

    -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.15);
}

input[type = "submit"] {
    width: 235px;
    height: 50px;
    border: none;
    border-radius: 8px;
    padding: 13px;
    margin-left: 47px;
    background-color: var(--color3);

    color: var(--color2);
    font-size: 1.06rem;
    font-weight: 700;
    cursor: pointer;

    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.15);
}

input[type = "submit"]:hover {
    color: var(--text-color1);
    background-color: #99BF4B;
}

.log-in {
    font-size: 1.06rem;
    padding-top: 32px;
    padding-bottom: 70px;
}

.log-in a {
    color: var(--color3);
    font-weight: 700;
    text-decoration: none;
}

.log-in a:hover {
    color: #99BF4B;
}

/* Mobile Responsive */
@media only screen and (max-width: 744px) {

    .content {
        flex-flow: column wrap;
    }

    /* LEFT SIDE CONTENTS */
    .left-content {
        width: 100vw;
        height: 30vh;
    }

    .logo {
        margin-top: 7vh;
    }

    /* RIGHT SIDE CONTENTS */
    .right-content {
        flex-flow: column nowrap;
        justify-content: flex-start;
        width: 100vw;
        height: 70vh;
    }

    .input-field {
        width: 100vw;
    }

    input {
        width: 35vw;
    }

}